* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Labrada', serif;
    font-family: 'Mukta', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Styling Navigation */

header {
    border-bottom: 1px solid rgba(0, 0, 0, 2);
    background: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-weight: 500;
}

header nav ul a {
    color: black;
}

header nav ul a:hover {
    color: blueviolet;
    text-decoration: underline;
}

header .nav-logo span {
    color: blueviolet
}

@media screen and (max-width:992px) {
    header nav ul {
        background-color: palevioletred;
    }
}

@media screen and (max-width:768px) {
    header nav ul {
        display: none;
    }
}

/* Styling hero section */

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.hero h1 {
    font-size: 3rem;
    line-height: 100%;
}

.hero h1 span {
    display: flex;
    color: blueviolet;
}

.hero h2 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
    font-weight: 500;
}

.hero .btn-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero .icon-wrapper {
    display: flex;
}

.hero .icon-wrapper a {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    background: #1b1b1b;
    color: white;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.hero .icon-wrapper a:hover {
    background: blueviolet;
}


.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;

    background: blueviolet;
    color: #fff;
    padding: 0.8rem;

    border: none;
    border-radius: 5px;

    font-weight: 500;
}

.btn.btn-secondary {
    background: #e4ccff;
    color: blueviolet;
}

.hero img {
    height: 500px;
    width: 500px;
    border-radius: 100%;
}

@media screen and (max-width:992px) {
    .hero .container {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;

    }
}

.about .container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about img {
    height: 500px;
    width: 500px;

}

.about .content {
    max-width: 600px;
    display: grid;
    gap: 1rem;
}

.about .content h2 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

@media screen and (max-width:768px) {
    .about {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}